section {
  
    float: right;
    
       color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 55%;
        margin-right: -30%;
        font-family: 'proxima-nova', sans-serif;
        transform: translate(-50%, -50%)
        
    
    
    

  }
 
  #logo{
  
    width: 68px;
    height: 81px;
    border: 0px;
    
  }
  #text{
    color: #a3a3a3;
    

  }

  #back{
    
    width: 480px;
    padding-left: 190px;
    padding-top: 140px;
    position: relative;
    
    
    
    
     
     
    
  }  
  body{
    background-color: #3d4347;
    overflow-y: hidden; 
    overflow-x: hidden;
    
  }
  
  i{
    font-size: 40px;
    padding-right: 10px;
    color:white;
  }
  #name{
    
    font-size: 40px;
    color: white;


  }
  i:hover{
    color: #a3a3a3;
  }
 @media screen and (max-width:736px){
   #back{
     
    
    width: 400px;
    padding-top: 180px; 
    float: right;
    padding-right: 120px;
    
   

   }
   section{
    float: right;
    padding-left: 150px;
    padding-bottom: 300px;
   }
   i {
    padding: 5px;
    
}
i:hover{
  color: #a3a3a3;
}
 }


span {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  color: white;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  font-family: 'proxima-nova', sans-serif;;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


#loader{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff
	url('http://garudapr.in/wp-content/uploads/2017/12/loader.gif')
	 no-repeat center center;
  z-index: 99999;
}




.loading-page {
  background:  #3d4347;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.loading-page .counter {
  text-align: center;
}
.loading-page .counter p {
  font-size: 40px;
  font-weight: 100;
  color: #f60d54;
}
.loading-page .counter h1 {
  color: white;
  font-size: 60px;
  margin-top: -10px;
}
.loading-page .counter hr {
  background: #f60d54;
  border: none;
  height: 1px;
}
.loading-page .counter {
  position: relative;
  width: 200px;
}
.loading-page .counter h1.abs {
  position: absolute;
  top: 0;
  width: 100%;
}
.loading-page .counter .color {
  width: 0px;
  overflow: hidden;
  color: #f60d54;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);
