section {
  
    float: right;
    
       color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 55%;
        margin-right: -30%;
        font-family: 'proxima-nova', sans-serif;
        transform: translate(-50%, -50%)
        
    
    
    

  }
  #logo{
  
    width: 68px;
    height: 81px;
    border: 0px;
    
  }
  #text{
    color: #a3a3a3;
    

  }

  #back{
    
    width: 480px;
    padding-left: 190px;
    padding-top: 140px;
    position: relative;
    
    
    
    
     
     
    
  }  
  body{
    background-color: #3d4347;
    overflow-y: hidden; 
    overflow-x: hidden;
  }
  
  i{
    font-size: 40px;
    padding-right: 10px;
    color:white;
  }
  #name{
    
    font-size: 40px;
    color: white;


  }
 @media screen and (max-width:736px){
   #back{
     
    
    width: 400px;
    padding-top: 180px; 
    float: right;
    padding-right: 120px;
    
   

   }
   section{
    float: right;
    padding-left: 150px;
    padding-bottom: 300px;
   }
   i {
    padding: 5px;
}
 }