body{
  background-color: #b7baee;
  font-family: Helvetica, sans-serif;
  overflow-y: hidden; 
overflow-x: hidden; 
  
}
#back{
  
  width: 480px;
  padding-left: 180px;
  padding-top: 82px;
  


}
#logo{
  
  width: 68px;
  height: 81px;
  
  position: absolute;
  
  padding-top: 200px;
  right: 630px;

  
}
#name{
  position: absolute;
  
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  right: 526px;
  bottom:380px; 
}
#text{
  position: absolute;
  
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  right: 545px;
  bottom:380px; 
}

