body{
  background-color: #3d4347;
  font-family: Helvetica, sans-serif;
  overflow-y: hidden; 
overflow-x: hidden;
  
}
#back{
  
  width: 480px;
  padding-left: 180px;
  padding-top: 100px;
  


}
#logo{
  
  width: 68px;
  height: 81px;
  
  position: absolute;
  
  padding-top: 220px;
  right: 665px;

  
}
#name{
  position: absolute;
  
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  right: 550px;
  bottom:360px; 
  color: aliceblue;
}
#text{
  position: absolute;
  
  
  font-size: 20px;
  right: 515px;
  bottom:255px; 
  font-family: 'futura-pt';
font-weight: 400;
font-size: 16px;


 text-transform: uppercase;
 
 font-weight: 700;
 font-style: normal;
 color: white;
}
#socialbar{
  position: absolute;
  padding-bottom: 50px;
}

li{
  float: left;
  right:10px;
  
}
i{
  font-size: 40px;
  padding-right: 5px;
  color:white;
}
